*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e3e7f2;
}
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* header section styles */
header{
    width: 100%;
    height: 698px;
    background-image: url("image/Hero-bg.png");
    background-size: cover;
    padding-top: 50px;
}

.navber{
    width: 1140px;
    height: 151px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px auto;
}                                                      .navber h1{
    font-weight: bold;
    color: #4E47FF;
    font-size: 34px;
}                                                
.btn{
    width: 132px;
    height: 48px;
    background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}
.text-content{
    width: 905px;
    height: 237px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 37px;
}
.text-content h1{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
    height: 152px;
    text-align: center;
}
.text-content button{
    display: block;
    width: 174px;
    margin: 0 auto;
}


/* banner section styles */
#banner-section{
    width: 1140px;
    height: 328px;
    display: flex;
    margin: 100px auto;
    justify-content: space-between;
}
.text-area {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 23px;
}

.text-area h2{
    color: #252432;
    font-weight: bold;
    font-size: 49px;
}
.text-area p{
    width: 517px;
    font-size: 24px;
    color: rgba(41, 36, 50, 0.5);
}
.text-area button{
    width: 229px;
}
#banner-section img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}


/* action section styles */

#action-section{
    width: 1140px;
    height: 306px;
    margin: 100px auto;
    background-color: rgba(78, 71, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 24px;
}
#action-section h1{
    font-size: 38px;
}
#box-section .number-section h1{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
}
.number-section p{
    font-size: 20px;
    color: rgba(41, 36, 50, 0.5);
}
#box-section{
    display: flex;
    justify-content: space-between;
    width: 856px;
}


/* Productive user section styles */
#productive-user-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: 0 auto;
}
#productive-user-section h1{
    padding-bottom: 50px;
    font-weight: bold;
    font-size: 42px;
}
.box{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.box-section{
    width: 366.67px;
    height: 243px;
    background-color: #FFFFFF;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}

.profile-section{
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.profile{
    display: flex;
    flex-direction: column;
}
/* optional banner section styles */
#optional-banner-section{
    width: 1140px;
    height: 696.77px;
    display: flex;
    margin: 100px auto;
    flex-direction: column;
    margin: 100px auto;
    gap: 20px;
    background-color: #FFFFFF;
    border-radius: 14px;
    align-items: center;
    justify-content: center;
}
.optional-text-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 23px;
    margin: 0 atuo;
}

.optional-text-area h2{
    color: #252432;
    font-weight: bold;
    font-size: 49px;
}
.text-area p{
    width: 517px;
    font-size: 24px;
    color: #8987A1;
}
.optional-text-area button{
    width: 195px;
}
#optional-banner-section img{
    width: 840px;
    height: 364.77px;
    border-radius: 48px;
    margin: 0 auto;
}


/* Contact section  styles */
#contact-section{
    width: 1140px;
    height: 632px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact-section h1{
    width: 528px;
    font-weight: bold;
    font-size: 97px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-contact-section{
    width: 497px;
    height: 490px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: none;
   
    
}
.main-contact-section label{
    font-weight: medium;
    font-size: 18px;
}

.main-contact-section input{
width: 497px;
height: 70px;
background-color: #FFFFFF;
color: #252432;
border-radius: 10px;
gap: 10px;
padding-left: 15px;
font-size: 20px;
}
.main-contact-section textarea{
    width: 497px;
    height: 135px;
    border-radius: 10px;
    padding-left: 15px;
    font-size: 20px;
}
.main-contact-section button{
    width: 497px;
    height: 62px;
}


/* footer section styles */

footer{
    width: 100%;
    height: 428px;
    background-color: #FFFFFF;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-footer h1{
    font-weight: bold;
    font-size: 100px;
    color: #4E47FF;
  
}
.main-footer p{
    width: 531px;
    color: #8987A1;
}
.footer-nav{
    padding-top: 20px;
}
.footer-nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 48px;
    justify-content: center;
}
.footer-nav li{
    list-style: none;
    color: #8987A1;
}
.footer-nav a{
    text-decoration: none;
    color: #8987A1;
    font-weight: bold;
}